.menu-inner {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    top: px2rem(110px);
    display: flex;
    overflow: hidden;
    .left-bar {
        width: px2rem(85px);
        background-color: #efefef;
        // FIXME: 可滚动列表
        overflow: auto;
        height: 100%;
        -webkit-overflow-scrolling: touch;
        
    }
    .left-bar-inner {
        padding-bottom: px2rem(85px);
    }
    .left-item {
        // FIXME: 修改高和字体，且左侧可滚动
        height: px2rem(42px);
        font-size: px2rem(12px);
        text-align: center;
        color: #656565;
        border-bottom: 1px solid #bfbfbf;
        display: flex;
        justify-content: center;
        // FIXME: 选中的active
        &.active {
            background-color: #1adbd659;
        }
    }
    // 对齐方式
    .item-text {
        line-height: px2rem(20px);
        align-self: center;
        text-align: center;
    }
    // 热销、折扣 Image
    .item-icon {
        width: px2rem(20px);
        height: px2rem(20px);
        display: inline-block;
        vertical-align: px2rem(-4px);
        margin-right: px2rem(6px);
    }
    // 右侧盒子
    .right-list {
        height: 100%;
    }
    .right-list-inner {
        font-size: px2rem(16px);
        padding-bottom: px2rem(85px);
    }
    .right-content {
        flex: 1;
        margin-left: px2rem(10px);
        height: 100%;
        // FIXME: 可滚动列表
        overflow: auto;
        -webkit-overflow-scrolling: touch;
    }
    .right-title {
        font-size: px2rem(13px);
        color: #333;
        font-weight: bold;
        margin-top: px2rem(10px);
        padding-left: px2rem(10px);
        border-left: px2rem(3px) solid #ffd161;
    }
    // FIXME: 点击购物车 其他部分的遮罩
    .mask {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0,0,0,0.7);
    }
}